:root {
  --background: #1e222a;
  --background-2: #8e939d;
  --foreground: #558cd0;
  --foreground-2: #f0b505;
  --foreground-3: #056bf0;
  --foreground-4: #05329a;
  --none-colour: #000000;
}

body {
  font-family: 'Lato', 'sans-serif';
  font-size: 16pt;
  background-color: var(--background);
  color: var(--foreground);
}

p {
  word-break: normal;
  white-space: normal;
}

.logo {
  width: 200px;
  margin-left: 38px;
}

.filterdivider {
  margin-left: 20px;
  margin-right: 30px;
  color: var(--background-2);
}

/* three column layout from https://www.w3schools.com/css/css_website_layout.asp */
.column {
  float: left;
}

.column.left {
  width: 288px;
}

.column.middle {
  width: 45%;
}

.column.right {
  width: 30%;
  left: 60%;
  top: 100px;
  padding-right: 20px;
  position: fixed;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.left, .column.middle, .column.right {
    width: 100%;
  }
}

/* link style */
a:link {
  color: var(--foreground);
}

a:visited {
  color: var(--foreground-3);
}

a:hover {
  color: var(--foreground-4);
}

a:active {
  color: var(--foreground-3);
} 

input[type=text] {
  background-color: var(--background2);
  color: var(--foreground);
  width: 40%;
  font-size: 16pt;
  border: var(--foreground3);
  border-radius: 5px;
  outline: none;
  box-shadow: none;
}

input[type=image] {
  height: 20px;
}

/* checkboxes for colour/black and white */
.checkbox, .multistatebox {
  color: var(--foreground);
  position: relative;
  height: 25px;
  width: 210px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.checklabel, .slider_range, .rangelabel, .genrelabel {
  color: var(--foreground-2);
}

.multistate, .genrebox {
  width: 35px;
  height: 25px;
  margin-right: 5px;
  color: var(--foreground);
  padding: 0;
  border: none;
  background: none;
  font-size: 10pt;
  font-weight: bold;
}

.rangelabel {
  margin-left: 15px;
}

.genrelabel {
  position: relative;
  height: 25px;
  width: 210px;
  display: inline-block;
  margin-top: -5px;
  margin-left: 15px;
  margin-bottom: 20px;
  padding-left: 15px;
}

/* film details */
.film-column-img {
  float: left;
  width: 200px;
}

.film-thumbnail {
  width: 200px;
}

.film-thumbnail-small {
  width: 150px;
  padding: 12px;
}

.film-column-details {
  float: left;
  padding-left: 15px;
  width: 600px;
}

.film-column-details-top {
  float: left;
  padding-bottom: 70px;
}

.film-row {
  position: relative;
  padding-top: 10px;
}

/* Clear floats after image containers */
.film-row::after {
  content: "";
  clear: both;
  display: table;
}

.description-hover {
  font-size: 14pt;
  color: var(--foreground-2);
}

.rating {
  position: absolute;
  bottom: 0px;
  width: 400px;
}

.userrating {
  width: 130px;
  float: left;
  left: 0px;
  margin-right: 10px;
  bottom: 0;
  
}

.star {
  border: 0;
  background: none;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  float: right;
  bottom: 0;
}


.imdbrating {
  margin: 0;
  left: 135px;
  bottom: 3px;
  position: absolute;
}
