body {
  font-family: 'Lato', 'Calibri', 'sans-serif';
  font-size: 16pt;
  background-color: #0d151f;
  color: #f0b505;
}

a:link {
  color: #f0b505;
}

a:visited {
  color: #f05b05;
}

a:hover {
  color: #056bf0;
}

a:active {
  color: blue;
} 

.film-column-img {
  float: left;
  width: 200px;
  padding: 10px;
  padding-left: 100px;
}

.film-column-details {
  float: left;
  padding: 5px;
}

.film-row {
  left: 100px;
  /*width: 40%;*/
}

/* Clear floats after image containers */
.film-row::after {
  content: "";
  clear: both;
  display: table;
}


