body {
  font-family: 'Lato', 'Calibri', 'sans-serif';
  font-size: 16pt;
  background-color: #0d151f;
  color: #f0b505;
}

.column-img {
  float: left;
  width: 200px;
  padding: 5px;
}

.column-details {
  float: left;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}