:root {
  --background: #1e222a;
  --foreground: #558cd0;
  --foreground-2: #f0b505;
  --foreground-3: #056bf0;
  --foreground-4: #00f;
  --include-color: #3584e4;
  --neutral-color: #fff;
  --exclude-color: #000;
}

body {
  font-family: 'Lato', 'Calibri', 'sans-serif';
  font-size: 16pt;
  background-color: var(--background);
  color: var(--foreground);
}

/* three column layout from https://www.w3schools.com/css/css_website_layout.asp */
.column {
  float: left;
}

.column.left {
  width: 15%;
}

.column.middle {
  width: 45%;
}

.column.right {
  width: 25%;
  left: 60%;
  top: 100px;
  padding-right: 20px;
  position: fixed;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.left, .column.middle, .column.right {
    width: 100%;
  }
}

/* link style */
a:link {
  color: var(--foreground);
}

a:visited {
  color: var(--foreground-3);
}

a:hover {
  color: var(--foreground-4);
}

a:active {
  color: var(--foreground-3);
} 

/* checkboxes for colour/black and white */
.checkbox, .tristatebox {
  position: relative;
  height: 25px;
  width: 210px;
  display: inline-block;
  margin-top: -5px;
  margin-left: 15px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.checklabel, .slider_range, .rangelabel, .genrelabel {
  color: var(--foreground-2);
}

.tristate, .genrebox {
  background-color: var(--neutral-color);
  color: var(--neutral-color);
  width: 15px;
  height: 15px;
  margin-right: 5px;
  vertical-align: -3px;
}

.rangelabel {
  margin-left: 15px;
}

.genrelabel {
  position: relative;
  height: 25px;
  width: 210px;
  display: inline-block;
  margin-top: -5px;
  margin-left: 15px;
  margin-bottom: 20px;
  padding-left: 15px;
}

/* film details */
.film-column-img {
  float: left;
  width: 200px;
}

.film-thumbnail {
  width: 200px;
}

.film-column-details {
  float: left;
  padding-left: 15px;
}

.film-row {
  position: relative;
  padding-top: 10px;
}

/* Clear floats after image containers */
.film-row::after {
  content: "";
  clear: both;
  display: table;
}

.description-hover {
  font-size: 14pt;
  color: var(--foreground-2);
  /* color: #f0de77;*/
  /*color: #056bf0;*/
}

.imdb-link {
  position: absolute;
  bottom: 0px;
}

/*
.more-actors {
  display: none;
}

.ellipsis:hover + .more-actors {
  display: block;
  color: red;
}*/