<!DOCTYPE html>
<html>

{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>{% block page_title %}Pick{% endblock %}</title>
    
    <link rel="shortcut icon" type="image/png" href="{% static 'mediabrowser/img/favicon.ico' %}"/>
    
    <link rel="stylesheet" href="{% static 'mediabrowser/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'mediabrowser/css/slider.css' %}">
    
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> -->
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>
{% block page_content %}{% endblock %}
</body>