
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'mediabrowser/style.css' %}">
    <link rel="stylesheet" href="{% static 'mediabrowser/slider.css' %}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>

<!-- search filters -->
<form action="{% url 'pick:index' %}" method="get">
<!-- search bar -->
<div align="center">
    <input type="text" name="search" id="searchbar" align="center" value="{{ search_str }}" placeholder="Search..." >
    <input type="submit" value="search">
</div>

<div class="column left">
    <!-- year -->
    <!-- two handle slider from SO:  https://stackoverflow.com/a/44384948 -->
    <div class="rangeslider", id="yearslider">
        <input class="min" name="year_min" type="range" min="{{ year_range_min }}" max="{{ year_range_max }}" value="{{ year_min }}"  />
        <input class="max" name="year_max" type="range" min="{{ year_range_min }}" max="{{ year_range_max }}" value="{{ year_max }}" />
        <!-- <span class="range_min light left">1900</span> -->
        <!-- <span class="range_max light right">2032</span> -->
        <span class="rangelabel">Years</span>
        <span class="slider_range light right">{{ year_min }} - {{ year_max }}</span>
    </div>
    
    <!-- runtime -->
    <div class="rangeslider", id="runtimeslider">
        <input class="min" name="runtime_min" type="range" min="{{ runtime_range_min }}" max="{{ runtime_range_max }}" value="{{ runtime_min }}" />
        <input class="max" name="runtime_max" type="range" min="{{ runtime_range_min }}" max="{{ runtime_range_max }}" value="{{ runtime_max }}" />
        <span class="rangelabel">Runtime</span>
        <span class="slider_range light right">{{ runtime_min }} - {{ runtime_max }}</span>
    </div>
    
    <!-- colour/black and white -->
    <div class="checkbox", id="colourbox">
        <input type="checkbox" id="colour" name="colour" value="True" {% if colour_checked %} checked {% endif %}> 
        <label class="checklabel" for="colour">Colour</label>
    </div>
    <div class="checkbox", id="blackwhitebox">
        <input type="checkbox" id="black_and_white" name="black_and_white" value="True" {% if black_and_white_checked %} checked {% endif %}>
        <label class="checklabel" for="black_and_white">Black and White</label>
    </div>
    
    <!-- genres -->
    <span class="genrelabel">Genres</span>
    <div>
        <!-- set all genres state -->
        <div class="tristatebox">
        <!-- data-custom-state="0" {{ all_genre_checked }}-->
            <input type="button" class="tristate" onclick="tri_state_changed(this)"  
                   id="all-genre-box" name="all-genre-box">
            <input type="hidden" id="all-genre-box-data" name="all-genre-box-data" value="0">
            <label class="checklabel" for="all-genre-box">All</label>
        </div>
    
        {% for genre, checked in genres.items %}
        <!-- {% if checked %} checked {% endif %} -->
            <div class="tristatebox">
                <input type="button" class="genrebox" onclick="tri_state_changed(this)" 
                       id="genre-{{ genre }}-box" name="genre-{{ genre.lower }}" >
                <input type="hidden" id="genre-{{ genre }}-box-data" name="genre-{{ genre.lower }}-data" value="0">
                <label class="checklabel" for="genre-{{ genre }}-box"> {{ genre }}</label>
            </div>
        {% endfor %}
    
    </div>
</div>

</form>

<div class="column middle">
    {% if film_list %}
        {% for film in film_list %}
            <div class="film-row" onmouseover="hover_film( '{{ film.description|escapejs }}' )" onmouseout="hover_film_leave()">
                <div class="film-column-img">
                    <img class="film-thumbnail" src="{{ film.img }}" alt="{{ film.title }}">
                </div>  
                <div class="film-column-details">
                    <p>{{ film.title }} ({{ film.year }}) </p>
                    <p>
                        Dir. 
                         <!-- this is horrible, but not sure how better to make sure that, -->
                         <!-- if there are multiple directors, they are displayed with comma separators -->
                         <!-- and if there are more than 3 directors, add an ellipsis -->
                        {% if film.director.all.0 %}
                            <a href="{% url 'pick:search' film.director.all.0.name %}">{{ film.director.all.0.name }}
                        {% endif %}
                        {% if film.director.all.1 %}
                            , <a href="{% url 'pick:search' film.director.all.1.name %}">{{ film.director.all.1.name }}</a>
                        {% endif %}
                        {% if film.director.all.2 %}
                            , <a href="{% url 'pick:search' film.director.all.2.name %}">{{ film.director.all.2.name }}</a>
                        {% endif %}
                        {% if film.director.all|length > 3 %}
                            ...
                        {% endif %}
                    </p>  
                    <p>
                        {% for person in film.stars.all|slice:":2" %}
                            <a href="{% url 'pick:search' person.name %}">{{ person.name }}</a>,
                        {% endfor %}
                        {% if film.stars.all.2 %}
                            <a href="{% url 'pick:search' film.stars.all.2.name %}">{{ film.stars.all.2.name }}</a>...
                        {% endif %}
                    </p>
                    <p>{{ film.runtime }} minutes</p>
                    <p class="imdb-link"><a href="https://www.imdb.com/title/tt{{film.imdb_id|stringformat:'07d'}}/">IMDb</a></p>
                </div>  
            </div>  
        {% endfor %}
    {% else %}
        <div class="film-row"
            <p>No films found.<p>
        </div>
    {% endif %}
</div>

<div class="column right">
    <p class="description-hover" id="description-hover"></p>
</div>

<!-- for year and runtime sliders -->
<script src="{% static 'mediabrowser/slider.js' %}"></script>
<!-- for tri-state genre boxes -->
<script src="{% static 'mediabrowser/tristate.js' %}"></script>
<!-- for showing and hiding film description on hover -->
<script src="{% static 'mediabrowser/hover_description.js' %}"></script>

</body>
</html>