
<!DOCTYPE html>
<html>

{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

<head>
    <title>Pick</title>
    
    <link rel="shortcut icon" type="image/png" href="{% static 'mediabrowser/img/favicon.ico' %}"/>
    
    <link rel="stylesheet" href="{% static 'mediabrowser/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'mediabrowser/css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'mediabrowser/css/loading.css' %}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>


<form action="{% url 'pick:index' %}" method="get">

    <!-- search bar -->
    <div align="center">
        <input type="text" name="search" id="searchbar" align="center" value="{{ search_str }}" placeholder="Search..." >
        <input type="submit" value="search">
    </div>

    <!-- search filters -->
    <div class="column left">
    
        <a href="{% url 'pick:index' %}">
            <img class="logo" src="{% static 'mediabrowser/img/logo.png' %}" alt="Pick">
        </a>
    
        <!-- year -->
        <!-- two handle slider from SO:  https://stackoverflow.com/a/44384948 -->
        <div class="rangeslider", id="yearslider">
            <input class="min" name="year_min" type="range" min="{{ year_range_min }}" max="{{ year_range_max }}" value="{{ year_min }}"  />
            <input class="max" name="year_max" type="range" min="{{ year_range_min }}" max="{{ year_range_max }}" value="{{ year_max }}" />
            <!-- <span class="range_min light left">1900</span> -->
            <!-- <span class="range_max light right">2032</span> -->
            <span class="rangelabel">Years</span>
            <span class="slider_range light right">{{ year_min }} - {{ year_max }}</span>
        </div>
        
        <!-- runtime -->
        <div class="rangeslider", id="runtimeslider">
            <input class="min" name="runtime_min" type="range" min="{{ runtime_range_min }}" max="{{ runtime_range_max }}" value="{{ runtime_min }}" />
            <input class="max" name="runtime_max" type="range" min="{{ runtime_range_min }}" max="{{ runtime_range_max }}" value="{{ runtime_max }}" />
            <span class="rangelabel">Runtime</span>
            <span class="slider_range light right">{{ runtime_min }} - {{ runtime_max }}</span>
        </div>
        
        <!-- colour/black and white -->
        <div class="checkbox", id="colourbox">
            <input type="checkbox" id="colour" name="colour" value="True" checked > 
            <label class="checklabel" for="colour">Colour</label>
        </div>
        <div class="checkbox", id="blackwhitebox">
            <input type="checkbox" id="black_and_white" name="black_and_white" value="True" checked>
            <label class="checklabel" for="black_and_white">Black and White</label>
        </div>
        
        <!-- digital/physical -->
        <div class="checkbox", id="digitalbox">
            <input type="checkbox" id="digital" name="digital" value="True"  checked> 
            <label class="checklabel" for="digital">Digital</label>
        </div>
        <div class="checkbox", id="physicalbox">
            <input type="checkbox" id="physical" name="physical" value="True" checked >
            <label class="checklabel" for="physical">Physical</label>
        </div>
        
        <!-- genres -->
        <div>
            <span class="genrelabel">Genres</span>
            <!-- set all genres state -->
            <div class="tristatebox">
                <input type="button" class="tristate" onclick="tri_state_changed(this)"  
                       id="all-genre-box" name="all-genre-box"
                       style="background-color:{{ all_genre_data.1 }}">
                <input type="hidden" id="all-genre-box-data" name="all-genre-box-data" value="{{ all_genre_data.0 }}">
                <label class="checklabel" for="all-genre-box">All</label>
            </div>
        
            {% for genre, value in genres.items %}
                <div class="tristatebox">
                    <input type="button" class="genrebox" onclick="tri_state_changed(this)" 
                           id="genre-{{ genre }}-box" name="genre-{{ genre.lower }}" 
                           style="background-color:{{ value.1 }}">
                    <input type="hidden" id="genre-{{ genre }}-box-data" name="genre-{{ genre.lower }}-data" value="{{ value.0 }}">
                    <label class="checklabel" for="genre-{{ genre }}-box"> {{ genre }}</label>
                </div>
            {% endfor %}
        
        </div>
    </div>

</form>

<div class="column middle">

    {% if film_list %}
        {% include filmlist_template %}
        
        {% block js %}
            <script src="http://code.jquery.com/jquery-latest.js"></script>
            <script src="{% static 'mediabrowser/js/el-pagination.js' %}"></script>
            <script>
                $.endlessPaginate({
                    paginateOnScroll: true,
                    paginateOnScrollMargin: 20
                });
            </script>
        {% endblock %}
        
    {% else %}
        <div class="film-row"
            <p>No films found.<p>
        </div>
    {% endif %}
</div>

<div class="column right">
    <p class="description-hover" id="description-hover"></p>
</div>

<!-- for year and runtime sliders -->
<script src="{% static 'mediabrowser/js/slider.js' %}"></script>
<!-- for tri-state genre boxes -->
<script src="{% static 'mediabrowser/js/tristate.js' %}"></script>
<!-- for showing and hiding film description on hover -->
<script src="{% static 'mediabrowser/js/hover_description.js' %}"></script>

</body>
</html>