{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

<!-- <div> -->
<!--     <input type="image" name="back" src="{% static 'mediabrowser/img/back-64.svg' %}" border="0" onClick="javascript:history.go(-1);"> -->
<!--     <span class="seriestitle"> {{ series_item.title }} </span> -->
<!-- </div> -->

<div class="film-row" id="film-item-{{film.pk}}">
    <div class="film-column-img">
        <a href="{% url 'pick:view_visionitem' film.pk %}">
            {% if film.local_img %}
                <img class="film-thumbnail" src="{{ MEDIA_PREFIX }}mediabrowser/{{ film.local_img }}" alt="{{ film.title }}">
            {% else %}
                <img class="film-thumbnail" src="{{ film.img }}" alt="{{ film.title }}">
            {% endif %}
        </a>
    </div>  
    <div class="film-column-details">
        <p><a href="{% url 'pick:view_visionitem' film.pk %}">{{ film.title }} ({{ film.children.first.year }} - {{ film.children.last.year }})</a></p>
        
        <p>
            Dir. 
            {% for person in film.all|slice:":3" %}
                <a href="{% url 'pick:view_person' person.pk %}">{{ person.name }}</a>{% if not forloop.last %}, {% endif %}{% if forloop.last %}{% if film.director.all|length > 3 %}... {% endif %}{% endif %}
            {% endfor %}
        </p>  
        <p>
            {% for person in film.all|slice:":3" %}
                <a href="{% url 'pick:view_person' person.pk %}">{{ person.name }}</a>{% if not forloop.last %}, {% endif %}{% if forloop.last %}{% if film.stars.all|length > 3 %}... {% endif %}{% endif %}
            {% endfor %}
        </p>
    
    <!-- {% for child in film.children.all %} -->
    <!--     <a href="{% url 'pick:view_visionitem' child.pk %}" onmouseover="hover_film( '{{ child.description|escapejs }}' )" onmouseout="hover_film_leave()"><img class="film-thumbnail-small" {% if child.local_img %} src="{{ MEDIA_PREFIX }}mediabrowser/{{ child.local_img }}" {% else %} src="{{ child.img }}" {% endif %} alt="{{ child.title }}"></a> -->
    <!-- {% endfor %} -->
    </div>
</div> 
        


